<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DLATT Fashion</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="./css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./css/homepage.css">
    <script src="./js/homepage.js"></script>
</head>

<body>
    <!--Phần thanh header-->
    <header>
        <div class="header-container fixed">
            <div class="header-main">
                <div class="container">
                    <div class="toggle">
                        <i class="fa-solid fa-bars menu"></i>
                        <div id="logo-toggle">
                            <a href="#">
                                <img src="./img/logo.png" title="DLATT Fashion" class="img-product"
                                    style="width: 200px;">
                            </a>
                        </div>
                        <div class="btn-toggle">
                            <div id="search-toggle">
                                <span class="search_button">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </span>
                            </div>
                            <div class="myaccount-toggle">
                                <a href="/account" title="My Account">  
                                    <i class="fa-solid fa-user"></i>
                            </div>
                            <div class="header-shoppingcart-toggle">
                                <a href="/cart" title="Cart"></a>
                                <i class="fa-solid fa-cart-shopping"></i>
                            </div>
                        </div>
                    </div>
                    <ul class="navbar-nav-toggle">
                        <li class="top_level dropdown">
                            <a href="/man">Nam</a>
                        </li>
                        <li class="top_level dropdown">
                            <a href="/woman">Nữ</a>
                        </li>
                        <li class="top_level">
                            <a href="/hotitem">Bán chạy</a>
                        </li>
                        <li class="top_level">
                            <a href="/sale">Giảm giá</a>
                        </li>
                        <li class="top_level dropdown">
                            <a href="/more">Xem thêm</a>
                        </li>
                    </ul>
                    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
                    <script>
                        $(document).ready(function() 
                            {
                                $('.menu').click(function() {
                                    $('.navbar-nav-toggle').toggleClass('active')
                                })
                            }
                        )
                    </script>
                    <div class="row">
                        <div class="header-logo">
                            <div id="logo">
                                <a href="/">
                                    <img src="./img/logo.png" title="DLATT Fashion" class="img-product"
                                        style="width: 200px;">
                                </a>
                            </div>
                        </div>
                        <nav class="nav-container">
                            <div id="menu" class="main-menu" style="display: block;">
                                <ul class="nav navbar-nav">
                                    <li class="top_level dropdown">
                                        <a href="/men">Nam</a>
                                        <div class="dropdown-menu megamenu column3">
                                            <div class="dropdown-inner">
                                                <ul class="list-unstyled childs_1">
                                                    <li class="dropdown">
                                                        <a href="/menShirts">Áo</a>
                                                        <div class="dropdown-menu">
                                                            <div class="dropdown-inner">
                                                                <ul class="list-unstyled childs_2">
                                                                    <li>
                                                                        <a href="/menSweater">Áo Sweater Nam</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/menTankTop">Áo ba lỗ Nam</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/menTShirt">Áo thun nam</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/menJacket">Áo khoác nam</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="list-unstyled childs_1">
                                                    <li class="dropdown">
                                                        <a href="/menTrousers">Quần</a>
                                                        <div class="dropdown-menu">
                                                            <div class="dropdown-inner">
                                                                <ul class="list-unstyled childs_2">
                                                                    <li>
                                                                        <a href="/menKaki">Quần kaki nam</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/menShorts">Quần đùi nam </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/menJean">Quần jean nam</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/menUnderwear">Quần lót nam</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="top_level dropdown">
                                        <a href="/women">Nữ</a>
                                        <div class="dropdown-menu megamenu column3">
                                            <div class="dropdown-inner">
                                                <ul class="list-unstyled childs_1">
                                                    <li class="dropdown">
                                                        <a href="/womenShirts">Áo</a>
                                                        <div class="dropdown-menu">
                                                            <div class="dropdown-inner">
                                                                <ul class="list-unstyled childs_2">
                                                                    <li>
                                                                        <a href="/womenShirt">Áo thun nữ</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/womenTShirt">Áo sơ mi nữ </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/womenDress">Đầm nữ</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/womenJacket">Áo khoác nữ</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="list-unstyled childs_1">
                                                    <li class="dropdown">
                                                        <a href="/womenTrousers">Quần</a>
                                                        <div class="dropdown-menu">
                                                            <div class="dropdown-inner">
                                                                <ul class="list-unstyled childs_2">
                                                                    <li>
                                                                        <a href="/womenPants">Quần dài nữ</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/womenShorts">Quần đùi nữ</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/womenJeans">Quần jean nữ</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/womenAuthPants">Quần tây nữ</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="top_level">
                                        <a href="/hotitem">Bán chạy</a>
                                    </li>
                                    <li class="top_level">
                                        <a href="/sale">Giảm giá</a>
                                    </li>
                                    <li class="top_level dropdown">
                                        <a href="/more">Xem thêm</a>
                                        <div class="dropdown-menu megamenu column1">
                                            <div class="dropdown-inner">
                                                <ul class="list-unstyled childs_1">
                                                    <li>
                                                        <a href="/shoes">Giày</a>
                                                    </li>
                                                    <li>
                                                        <a href="/jackets">Áo khoác</a>
                                                    </li>
                                                    <li>
                                                        <a href="/glasses">Kính</a>
                                                    </li>
                                                    <li>
                                                        <a href="/socks">Tất</a>
                                                    </li>
                                                    <li>
                                                        <a href="hats">Mũ</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <div id="search" class="input-group">
                            <span class="search_button"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <div class="search_toggle">
                                <div id="searchbox">
                                    <input type="text" name="search" value="" placeholder="Search Products Here"
                                        class="form-control input-lg">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-lg">
                                            Search
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown myaccount">
                            <a href="/account" title="My Account">
                                <i class="fa-solid fa-user"></i>
                                <ul class="dropdown-menu dropdown-menu-right myaccount-menu">
                                    <% if (login.length == 0) { %>
                                    <li>
                                        <a href="/register">Đăng kí</a>
                                    </li>
                                    <li>
                                        <a href="/login">Đăng nhập</a>
                                    </li>
                                    <% }  else { %>
                                    <li>
                                        <a href="/logout">Đăng xuất</a>
                                    </li>
                                    <% } %>
                                    <li>
                                        <a href="/cart" title="Shopping Cart">Giỏ hàng</a>
                                    </li>
                                    <li>
                                        <a href="/checkout" title="Checkout">Thanh toán</a>
                                    </li>
                                    <% if (login.length > 0 && login[0].role === 'Employee') { %>
                                    <li>
                                        <a href="/upload" title="Checkout">Thêm sản phẩm</a>
                                    </li>
                                    <% } %>
                                </ul>
                        </div>
                        <div class="header-shoppingcart">
                            <div id="cart" class="btn-group btn-block">
                                <a href="/cart" title="Cart">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Slider-->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://iweb.tatthanh.com.vn/pic/3/blog/web-thoi-trang-nam.jpg" class="d-block w-100"
                    alt="Slide 1">
            </div>
            <div class="carousel-item">
                <img src="https://studiovietnam.com/wp-content/uploads/2022/03/anh-cua-hang-thoi-trang-10-1.jpg"
                    class="d-block w-100" alt="Slide 2">
            </div>
            <div class="carousel-item">
                <img src="https://misskick.vn/wp-content/uploads/2023/03/unisex-la-gi-tat-tan-tat-ve-thoi-trang-unisex-nam-nu-thumbnail.jpeg"
                    class="d-block w-100" alt="Slide 3">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!--Banner-->
    <div class="banner">
        <div class="home_banner">
            <a href="/men">
                <img src="	https://routine.vn/pub/media/Thoi-trang-nam.jpg" alt="Thời Trang Nam">
            </a>
            <a class="btn" href="/men">
                Xem ngay
            </a>
        </div>
        <div class="home_banner">
            <a href="/women">
                <img src="	https://routine.vn/pub/media/Thoi-trang-nu.jpg" alt="Thời Trang Nữ">
            </a>
            <a class="btn" href="/women">
                Xem ngay
            </a>
        </div>
    </div>
    <!--Block-->
    <div class="block">
        <div class="block-title">
            <strong>SALE UP TO 50%</strong>
        </div>
        <div class="block_content">
            <!--Product Sale-->
            <ul class="products">
                <li class="product_item">
                    <a href="/product?id=%=dataProduct[i].id%>">
                        <img class="product_img"
                            src="https://routine.vn/media/catalog/product/cache/d0cf4470db45e8932c69fc124d711a7e/1/0/10f21jac022-whitesand-3_4_1.jpg"
                            alt="">
                    </a>
                    <a href="/product?id=%=dataProduct[i].id%>" class="title_product">Áo Khoác Nhung Nam Cotton Form
                        Regular - 10F21JAC022</a>
                    <div class="price">
                        <span class="price_discount">575.000 ₫</span>
                        <span class="price_original">1.150.000 ₫</span>
                        <span class="discount">-50%</span>
                        <i class="fa-solid fa-tag"></i>
                    </div>
                </li>
                <li class="product_item">
                    <a href="/product?id=%=dataProduct[i].id%>">
                        <img class="product_img"
                            src="https://routine.vn/media/catalog/product/cache/d0cf4470db45e8932c69fc124d711a7e/1/0/10f21jac022-whitesand-3_4_1.jpg"
                            alt="">
                    </a>
                    <a href="/product?id=%=dataProduct[i].id%>" class="title_product">Áo Khoác Nhung Nam Cotton Form
                        Regular - 10F21JAC022</a>
                    <div class="price">
                        <span class="price_discount">575.000 ₫</span>
                        <span class="price_original">1.150.000 ₫</span>
                        <span class="discount">-50%</span>
                        <i class="fa-solid fa-tag"></i>
                    </div>
                </li>
                <li class="product_item">
                    <a href="/product?id=%=dataProduct[i].id%>">
                        <img class="product_img"
                            src="https://routine.vn/media/catalog/product/cache/d0cf4470db45e8932c69fc124d711a7e/1/0/10f21jac022-whitesand-3_4_1.jpg"
                            alt="">
                    </a>
                    <a href="/product?id=%=dataProduct[i].id%>" class="title_product">Áo Khoác Nhung Nam Cotton Form
                        Regular - 10F21JAC022</a>
                    <div class="price">
                        <span class="price_discount">575.000 ₫</span>
                        <span class="price_original">1.150.000 ₫</span>
                        <span class="discount">-50%</span>
                        <i class="fa-solid fa-tag"></i>
                    </div>
                </li>
                <li class="product_item">
                    <a href="/product?id=%=dataProduct[i].id%>">
                        <img class="product_img"
                            src="https://routine.vn/media/catalog/product/cache/d0cf4470db45e8932c69fc124d711a7e/1/0/10f21jac022-whitesand-3_4_1.jpg"
                            alt="">
                    </a>
                    <a href="/product?id=%=dataProduct[i].id%>" class="title_product">Áo Khoác Nhung Nam Cotton Form
                        Regular - 10F21JAC022</a>
                    <div class="price">
                        <span class="price_discount">575.000 ₫</span>
                        <span class="price_original">1.150.000 ₫</span>
                        <span class="discount">-50%</span>
                        <i class="fa-solid fa-tag"></i>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--Footer-->
    <footer class="footer">
        <div class="footer_row">
            <div class="footer_infomation">
                <div class="logo">
                    <a href="/">
                        <img src="./img/logo.png" alt="DLATT">
                    </a>
                </div>
                <h3>CÔNG TY TNHH DLATT VIETNAM</h3>
            </div>
            <div class="group">
                <h3>IE104.012 - Nhóm 8</h3>
                <div class="members">
                    <div class="card">
                        <div class="img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTymz8hEzCiURnEoQYnLTiehMAGb4xIeKWRDQ&usqp=CAU"
                                alt="">
                        </div>
                        <div class="glass">
                            <span>Hoàng Hải Anh</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTymz8hEzCiURnEoQYnLTiehMAGb4xIeKWRDQ&usqp=CAU"
                                alt="">
                        </div>
                        <div class="glass">
                            <span>Nguyễn Chí Thi</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTymz8hEzCiURnEoQYnLTiehMAGb4xIeKWRDQ&usqp=CAU"
                                alt="">
                        </div>
                        <div class="glass">
                            <span>Trương Khánh Long</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTymz8hEzCiURnEoQYnLTiehMAGb4xIeKWRDQ&usqp=CAU"
                                alt="">
                        </div>
                        <div class="glass">
                            <span>Bùi Lê Trọng Đức</span>

                        </div>
                    </div>
                    <div class="card">
                        <div class="img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTymz8hEzCiURnEoQYnLTiehMAGb4xIeKWRDQ&usqp=CAU"
                                alt="">
                        </div>
                        <div class="glass">
                            <span>Nguyễn Tiến Thịnh</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>
        let title = document.title;
        let titleIndex = 0;

        function animateTitle() {
            setInterval(() => {
                titleIndex = (titleIndex + 1) % (title.length + 1);
                document.title = title.substring(0, titleIndex);
            }, 400);
        }

        animateTitle();

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>