<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DLATT Fashion</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <link href="./style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./login_signup.css">
    <script src="./js/homepage.js"></script>
</head>



<body>
    <!--Phần thanh header-->
    <header>
        <div class="header-container fixed">
            <div class="header-main">
                <div class="container">
                    <div class="row">
                        <div class="header-logo">
                            <div id="logo">
                                <a href="#">
                                    <img src="logo.png" title="DLATT Fashion" class="img-product"
                                        style="width: 200px;">
                                </a>
                            </div>
                        </div>
                        <nav class="nav-container">
                            <div id="menu" class="main-menu" style="display: block;">
                                <ul class="nav navbar-nav">
                                    <li class="top_level dropdown">
                                        <a href="/men">Nam</a>
                                        <div class="dropdown-menu megamenu column3">
                                            <div class="dropdown-inner">
                                                <ul class="list-unstyled childs_1">
                                                    <li class="dropdown">
                                                        <a href="/menshirts">Áo</a>
                                                        <div class="dropdown-menu">
                                                            <div class="dropdown-inner">
                                                                <ul class="list-unstyled childs_2">
                                                                    <li>
                                                                        <a href="#">Áo thun nam</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Áo sơ mi nam </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Áo jean nam</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Áo 3 lỗ nam</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="list-unstyled childs_1">
                                                    <li class="dropdown">
                                                        <a href="/mentrousers">Quần</a>
                                                        <div class="dropdown-menu">
                                                            <div class="dropdown-inner">
                                                                <ul class="list-unstyled childs_2">
                                                                    <li>
                                                                        <a href="#">Quần thun nam</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Quần đùi nam </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Quần jean nam</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Quần lót nam</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="top_level dropdown">
                                        <a href="/women">Nữ</a>
                                        <div class="dropdown-menu megamenu column3">
                                            <div class="dropdown-inner">
                                                <ul class="list-unstyled childs_1">
                                                    <li class="dropdown">
                                                        <a href="/womenshirts">Áo</a>
                                                        <div class="dropdown-menu">
                                                            <div class="dropdown-inner">
                                                                <ul class="list-unstyled childs_2">
                                                                    <li>
                                                                        <a href="#">Áo thun nữ</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Áo sơ mi nữ </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Áo jean nữ</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Áo khoác nữ</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="list-unstyled childs_1">
                                                    <li class="dropdown">
                                                        <a href="/womentrousers">Quần</a>
                                                        <div class="dropdown-menu">
                                                            <div class="dropdown-inner">
                                                                <ul class="list-unstyled childs_2">
                                                                    <li>
                                                                        <a href="#">Quần thun nữ</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Quần đùi nữ</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Quần jean nữ</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Quần tây nữ</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="top_level">
                                        <a href="/hotitem">Bán chạy</a>
                                    </li>
                                    <li class="top_level">
                                        <a href="/sale">Giảm giá</a>
                                    </li>
                                    <li class="top_level dropdown">
                                        <a href="/more">Xem thêm</a>
                                        <div class="dropdown-menu megamenu column1">
                                            <div class="dropdown-inner">
                                                <ul class="list-unstyled childs_1">
                                                    <li>
                                                        <a href="/shoes">Giày</a>
                                                    </li>
                                                    <li>
                                                        <a href="/jackets">Áo khoác</a>
                                                    </li>
                                                    <li>
                                                        <a href="glasses">Kính</a>
                                                    </li>
                                                    <li>
                                                        <a href="Socks">Tất</a>
                                                    </li>
                                                    <li>
                                                        <a href="hats">Mũ</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <div id="search" class="input-group">
                            <span class="search_button"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <div class="search_toggle">
                                <div id="searchbox">
                                    <input type="text" name="search" value="" placeholder="Search Products Here"
                                        class="form-control input-lg">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-lg">
                                            Search
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown myaccount">
                            <a href="/account" title="My Account" class="dropdown-toggle">
                                <i class="fa-solid fa-user"></i>
                                <ul class="dropdown-menu dropdown-menu-right myaccount-menu">
                                    <li>
                                        <a href="/register">Đăng kí</a>
                                    </li>
                                    <li>
                                        <a href="/login">Đăng nhập</a>
                                    </li>
                                    <li>
                                        <a href="/cart" title="Shopping Cart">Giỏ hàng</a>
                                    </li>
                                    <li>
                                        <a href="/checkout" title="Checkout">Thanh toán</a>
                                    </li>
                                </ul>
                        </div>
                        <div class="header-shoppingcart">
                            <div id="cart" class="btn-group btn-block">
                                <button type="button" class="btn btn-inverse btn-block btn-lg dropdown-toggle">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span id="cart-total">0</span>
                                </button>
                                <ul class="dropdown-menu pull-right cart-menu">
                                    <li>
                                        <p class="text-center">Giỏ hàng trống!</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Content cua website:-->
    <div class="container">
        <div class="p-header">Thong tin san pham</div>
        <div class="row wraper">
            <div class="col-5 thumnails">
                <div class="row">
                    <img class="product_img" src="https://cdn2.yame.vn/pimg/so-mi-co-danton-on-gian-y-nguyen-ban-ver11-0020737/429cf36f-fd34-a600-36ce-00191515f621.jpg?w=540&h=756"
                    height="600px" width="600px">
                </div>
                <div class="row">
                    <div class="col-3">
                        <img class="thumnails_img" src="https://cdn2.yame.vn/pimg/so-mi-co-danton-on-gian-y-nguyen-ban-ver11-0020737/429cf36f-fd34-a600-36ce-00191515f621.jpg?w=540&h=756">
                    </div>
                    <div class="col-3">
                        <img class="thumnails_img" src="https://cdn2.yame.vn/pimg/so-mi-co-danton-on-gian-y-nguyen-ban-ver11-0020737/429cf36f-fd34-a600-36ce-00191515f621.jpg?w=540&h=756">
                    </div>
                    <div class="col-3">
                        <img class="thumnails_img" src="https://cdn2.yame.vn/pimg/so-mi-co-danton-on-gian-y-nguyen-ban-ver11-0020737/429cf36f-fd34-a600-36ce-00191515f621.jpg?w=540&h=756">
                    </div>
                    <div class="col-3">
                        <img class="thumnails_img" src="https://cdn2.yame.vn/pimg/so-mi-co-danton-on-gian-y-nguyen-ban-ver11-0020737/429cf36f-fd34-a600-36ce-00191515f621.jpg?w=540&h=756">
                    </div>
                </div>
            </div>
            <div class="col-7 details">
                <div class="rows">
                    <p>Tên sản phẩm</p>
                </div>
                <div class="rows">
                    <p>Mã số sản phẩm: #xxxx</p>
                </div>
                <div class="rows">
                    <p>Giá gốc: <span style="text-decoration: line-through; display: inline;">xxx.000đ</span></p>
                </div>
                <div class="rows"> 
                    <p class="sale_price">Giá Sale: <span style="color: red">xxx.000đ</span></p>
                </div>
                <div class="rows">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Size: Đen, S</td>
                                <td><a>SL còn:</a> </td>
                                <td><a href="https://uit.edu.vn"><span style="text-align: left;">Chọn mua:</span></a></td>
                            </tr>
                            <tr>
                                <td>Size: Đen, M</td>
                                <td><a>SL còn:</a> </td>
                                <td><a href="https://student.uit.edu.vn"><span style="text-align: left;">Chọn mua:</span></a></td>
                            </tr>
                            <tr>
                                <td>Size: Đen, L</td>
                                <td><a>SL còn:</a> </td>
                                <td><a href="https://student.uit.edu.vn"><span style="text-align: left;">Chọn mua:</span></a></td>
                            </tr>
                            <tr>
                                <td>Size: Đen, XL</td>
                                <td><a>SL còn:</a> </td>
                                <td><a href="https://student.uit.edu.vn"><span style="text-align: left;">Chọn mua:</span></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="rows">
                        <button class="btn-outline-dark btn-sm" onclick="showMessage()" data-toggle="collapse" href="#moTaSanPham"
                              role="button" aria-expanded="false" aria-controls="moTaSanPham">Xem mô tả sản phẩm</button> 
                  
                              <p id="message">Day la thong tin san pham <br> 333 
                              </p>
                          
                              <script>
                                // JavaScript to toggle the display of the message when the button is clicked
                                function showMessage() {
                                  var message = document.getElementById("message");
                              
                                  // Check the current display style of the message
                                  if (message.style.display === "none" || message.style.display === "") {
                                    // If it's hidden, show it
                                    message.style.display = "block";
                                  } else {
                                    // If it's visible, hide it
                                    message.style.display = "none";
                                  }
                                }
                              </script>
                      </div>
                </div>
            </div>
        </div>
    </div>
 <!--Footer-->
 <footer class="footer">
    <div class="footer_row">
        <div class="footer_infomation">
            <div class="logo">
                <a href="#">
                    <img src="logo.png" alt="DLATT">
                </a>
            </div>
            <h3>CÔNG TY TNHH DLATT VIETNAM</h3>
        </div>
        <div class="group">
            <h3>IE104.012 - Nhóm 8</h3>
            <div class="members">
                <div class="card">
                    <div class="img">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTymz8hEzCiURnEoQYnLTiehMAGb4xIeKWRDQ&usqp=CAU"
                            alt="">
                    </div>
                    <div class="glass">
                        <span>Hoàng Hải Anh</span>
                    </div>
                </div>
                <div class="card">
                    <div class="img">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTymz8hEzCiURnEoQYnLTiehMAGb4xIeKWRDQ&usqp=CAU"
                            alt="">
                    </div>
                    <div class="glass">
                        <span>Nguyễn Chí Thi</span>
                    </div>
                </div>
                <div class="card">
                    <div class="img">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTymz8hEzCiURnEoQYnLTiehMAGb4xIeKWRDQ&usqp=CAU"
                            alt="">
                    </div>
                    <div class="glass">
                        <span>Trương Khánh Long</span>
                    </div>
                </div>
                <div class="card">
                    <div class="img">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTymz8hEzCiURnEoQYnLTiehMAGb4xIeKWRDQ&usqp=CAU"
                            alt="">
                    </div>
                    <div class="glass">
                        <span>Bùi Lê Trọng Đức</span>
    
                    </div>
                </div>
                <div class="card">
                    <div class="img">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTymz8hEzCiURnEoQYnLTiehMAGb4xIeKWRDQ&usqp=CAU"
                            alt="">
                    </div>
                    <div class="glass">
                        <span>Nguyễn Tiến Thịnh</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>