<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin tài khoản</title>
    <link rel="stylesheet" href="./css/info_user.css">
    <link rel="stylesheet" href="./css/style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <!--Headerrr-->
    <header>
        <div class="header-container fixed">
            <div class="header-main">
                <div class="container">
                    <div class="toggle">
                        <i class="fa-solid fa-bars menu"></i>
                        <div id="logo-toggle">
                            <a href="#">
                                <img src="./img/logo.png" title="DLATT Fashion" class="img-product"
                                    style="width: 200px;">
                            </a>
                        </div>
                        <div class="btn-toggle">
                            <div id="search-toggle">
                                <span class="search_button">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </span>
                            </div>
                            <div class="myaccount-toggle">
                                <a href="/account" title="My Account">  
                                    <i class="fa-solid fa-user"></i>
                            </div>
                            <div class="header-shoppingcart-toggle">
                                <a href="/cart" title="Cart"></a>
                                <i class="fa-solid fa-cart-shopping"></i>
                            </div>
                        </div>
                    </div>
                    <ul class="navbar-nav-toggle">
                        <li class="top_level dropdown">
                            <a href="/man">Nam</a>
                        </li>
                        <li class="top_level dropdown">
                            <a href="/woman">Nữ</a>
                        </li>
                        <li class="top_level">
                            <a href="/hotitem">Bán chạy</a>
                        </li>
                        <li class="top_level">
                            <a href="/sale">Giảm giá</a>
                        </li>
                        <li class="top_level dropdown">
                            <a href="/more">Xem thêm</a>
                        </li>
                    </ul>
                    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
                    <script>
                        $(document).ready(function() 
                            {
                                $('.menu').click(function() {
                                    $('.navbar-nav-toggle').toggleClass('active')
                                })
                            }
                        )
                    </script>
                    <div class="row">
                        <div class="header-logo">
                            <div id="logo">
                                <a href="/">
                                    <img src="./img/logo.png" title="DLATT Fashion" class="img-product"
                                        style="width: 200px;">
                                </a>
                            </div>
                        </div>
                        <nav class="nav-container">
                            <div id="menu" class="main-menu" style="display: block;">
                                <ul class="nav navbar-nav">
                                    <li class="top_level dropdown">
                                        <a href="/men">Nam</a>
                                        <div class="dropdown-menu megamenu column3">
                                            <div class="dropdown-inner">
                                                <ul class="list-unstyled childs_1">
                                                    <li class="dropdown">
                                                        <a href="/menShirts">Áo</a>
                                                        <div class="dropdown-menu">
                                                            <div class="dr  opdown-inner">
                                                                <ul class="list-unstyled childs_2">
                                                                    <li>
                                                                        <a href="/menSweater">Áo Sweater Nam</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/menTankTop">Áo ba lỗ Nam</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/menTShirt">Áo thun nam</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/menJacket">Áo khoác nam</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="list-unstyled childs_1">
                                                    <li class="dropdown">
                                                        <a href="/menTrousers">Quần</a>
                                                        <div class="dropdown-menu">
                                                            <div class="dropdown-inner">
                                                                <ul class="list-unstyled childs_2">
                                                                    <li>
                                                                        <a href="/menKaki">Quần kaki nam</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/menShorts">Quần đùi nam </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/menJean">Quần jean nam</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/menUnderwear">Quần lót nam</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="top_level dropdown">
                                        <a href="/women">Nữ</a>
                                        <div class="dropdown-menu megamenu column3">
                                            <div class="dropdown-inner">
                                                <ul class="list-unstyled childs_1">
                                                    <li class="dropdown">
                                                        <a href="/womenShirts">Áo</a>
                                                        <div class="dropdown-menu">
                                                            <div class="dropdown-inner">
                                                                <ul class="list-unstyled childs_2">
                                                                    <li>
                                                                        <a href="/womenShirt">Áo thun nữ</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/womenTShirt">Áo sơ mi nữ </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/womenDress">Đầm nữ</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/womenJacket">Áo khoác nữ</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="list-unstyled childs_1">
                                                    <li class="dropdown">
                                                        <a href="/womenTrousers">Quần</a>
                                                        <div class="dropdown-menu">
                                                            <div class="dropdown-inner">
                                                                <ul class="list-unstyled childs_2">
                                                                    <li>
                                                                        <a href="/womenPants">Quần dài nữ</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/womenShorts">Quần đùi nữ</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/womenJeans">Quần jean nữ</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/womenAuthPants">Quần tây nữ</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="top_level">
                                        <a href="/hotitem">Bán chạy</a>
                                    </li>
                                    <li class="top_level">
                                        <a href="/sale">Giảm giá</a>
                                    </li>
                                    <li class="top_level dropdown">
                                        <a href="/more">Xem thêm</a>
                                        <div class="dropdown-menu megamenu column1" style="height: 120px">
                                            <div class="dropdown-inner">
                                                <ul class="list-unstyled childs_1">
                                                    <li>
                                                        <a href="/shoes">Giày</a>
                                                    </li>
                                                    <li>
                                                        <a href="/glasses">Kính</a>
                                                    </li>
                                                    <li>
                                                        <a href="/socks">Tất</a>
                                                    </li>
                                                    <li>
                                                        <a href="hats">Mũ</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <div id="search" class="input-group">
                            <span class="search_button"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <div class="search_toggle">
                                <div id="searchbox">
                                    <input type="text" name="search" value="" placeholder="Search Products Here"
                                        class="form-control input-lg">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-lg">
                                            Search
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <% if (login.length > 0) { %>
                        <div class="dropdown myaccount" style="width: 200px">
                            <a href="/account" title="My Account" style="width: 100%">
                                <i class="fa-solid fa-user"></i>
                                    <span class="userName" ><%=login[0].fullName%></span>
                        <% } else { %>
                        <div class="dropdown myaccount">
                            <a href="/account" title="My Account" style="width: 100%">
                                <i class="fa-solid fa-user"></i>
                                <% } %>
                                <ul class="dropdown-menu dropdown-menu-right myaccount-menu">
                                    <% if (login.length == 0) { %>
                                    <li>
                                        <a href="/register">Đăng kí</a>
                                    </li>
                                    <li>
                                        <a href="/login">Đăng nhập</a>
                                    </li>
                                    <% }  else { %>
                                    <li>
                                        <a href="/logout">Đăng xuất</a>
                                    </li>
                                    <% } %>
                                    <li>
                                        <a href="/cart" title="Shopping Cart">Giỏ hàng</a>
                                    </li>
                                    <li>
                                        <a href="/checkout" title="Checkout">Thanh toán</a>
                                    </li>
                                    <% if (login.length > 0 && login[0].role === 'Employee') { %>
                                    <li>
                                        <a href="/upload" title="Checkout">Thêm sản phẩm</a>
                                    </li>
                                    <% } %>
                                </ul>
                        </div>
                        <div class="header-shoppingcart">
                            <div id="cart" class="btn-group btn-block">
                                <a href="/cart" title="Cart">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Contentttttttttt-->
    <div class="container light-style flex-grow-1 container-p-y content-user">
        <h4 class="font-weight-bold py-3 mb-4">
            Account settings
        </h4>
        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action active" data-toggle="list"
                            href="#account-general">Thông tin tài khoản</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-change-password">Thay đổi mật khẩu</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="account-general">
                            <div class="card-body media align-items-center">
                                <img id="ava" src="./img/<%=data.userID%>.png" onerror="changePhoto()"
                                    class="d-block ui-w-80">
                                    <script>
                                        function changePhoto() {
                                            document.getElementById('ava').src = 'https://static.vecteezy.com/system/resources/previews/009/292/244/original/default-avatar-icon-of-social-media-user-vector.jpg'
                                        }
                                    </script>
                                    <div class="media-body ml-4">
                                        <label for="fileInput" class="btn btn-outline-primary">
                                            Upload new photo
                                            <input type="file" id="fileInput" class="account-settings-fileinput" onchange="uploadFile()">
                                        </label> &nbsp;
                                        <div class="text-light small mt-1">Allowed JPG, GIF, or PNG. Max size of 800K</div>
                                    </div>
                                    <script>
                                        function uploadFile() {
                                            const fileInput = document.getElementById('fileInput');
                                            const file = fileInput.files[0];
                                            
                                            if (file) {
                                                const formData = new FormData();
                                                formData.append('file', file);

                                                var login = JSON.parse(unescape('<%- login %>'));

                                                const userID = login[0].userID;

                                                fetch('/upavatar?userID='+ userID, {
                                                    method: 'POST',
                                                    body: formData
                                                })
                                                .then(response => response.text())
                                                .then(data => {
                                                    console.log(data); 
                                                })
                                                .catch(error => {
                                                    console.error('Error uploading file:', error);
                                                    // Handle errors, show error messages, etc.
                                                });
                                                window.location.href = '/account';
                                            }
                                        }
                                    </script>
                            </div>
                            <hr class="border-light m-0">
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="form-label">Họ và tên: </label>
                                    <input type="text" class="form-control mb-1">
                                </div>
                                
                                <div class="form-group">
                                    <label class="form-label">Giới tính: </label>
                                    <label class="form-label gender"><input type="radio" name="Gender" class="inline" checked /> Nam</label>
                                    <label class="form-label gender"><input type="radio" name="Gender" class="inline" /> Nữ</label>
                                    <label class="form-label gender"><input type="radio" name="Gender" class="inline" /> Khác</label>
                                </div>
                                <div class="form-group">
                                    <label for="birth-date">Ngày tháng năm sinh<span class="sr-only"></span></label>
                                    <input type="date" name="birth-date" id="birth-date" />
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Số điện thoại: </label>
                                    <input type="text" class="form-control mb-1">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">E-mail</label>
                                    <input type="text" class="form-control mb-1">
                                    <div class="alert alert-warning mt-3">
                                        Your email is not confirmed. Please check your inbox.<br>
                                        <a href="javascript:void(0)">Resend confirmation</a>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="form-label">Chiều cao</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Cân nặng</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-change-password">
                            <div class="card-body pb-2">
                                <div class="form-group">
                                    <label class="form-label">Mật khẩu hiện tại</label>
                                    <input type="password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Mật khẩu mới</label>
                                    <input type="password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Nhập lại mật khẩu mới</label>
                                    <input type="password" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right mt-3">
            <button type="button" class="btn btn-primary">Save changes</button>&nbsp;
            <button type="button" class="btn btn-default">Cancel</button>
        </div>
    </div>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">

    </script>
</body>

</html>