.cart-page {
    margin: 20px auto;
}
table {
    position: relative;
    border-collapse: collapse;
    width: 90% !important;
    margin: 5%;
}
.cart-info {
    display: flex;
    flex-wrap: wrap;
}
th
{
    text-align: left;
    padding: 5px;
    color: #fcfcfc;
    background-color: rgb(48, 51, 53);
    font-weight: normal;
    text-align: center;
}

tbody {
    width: 100%;
}

td {
    padding: 10px 5px;
    font-weight: bold;
    color: #000;
}

td img {
    max-width: 60px;
}

td p {
    margin: 2px;
}

.product-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #73737368;
    margin: 20px;
    width: 80%;
  }
  
  .product-quantity label {
    font-size: 16px;
  }
  
  .product-quantity input {
    width: 25%;
    max-width: 30px;
    height: 40px;
    text-align: center;
    padding: auto;
    border: none;
    font-weight: bold;
  }
  
  .product-quantity .btn-plus, .product-quantity .btn-minus {
    font-size: 20px;
    padding: 6px 10px;
    background-color: #fff;
    color: #000;
    border: none;
    font-weight: bold;
  }

td .remove{
    color: rgb(48, 51, 53);
    font-size: small;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
}

td img {
    max-height: 80px;
    margin-right: 10px;
}

.empty {
    margin: 100px auto;
    text-align: center;
    font-size: 20px;
}

.discount-block .coupon-public {
    width: 100%;
}

.discount-block .coupon-public .coupons
{
    max-width: 95em;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    padding-bottom: 10px;
    padding-top: 15px;
}

.discount-block .coupon-public .coupons .coupon
{
    display: flex;
    border: 1px solid rgba(36, 36, 36, 0.3);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
    min-width: 284px;
    margin-right: 10px;
}

.discount-block .coupon-public .coupons .coupon:hover {
    border: none;
    background-color: #000000;
    color: #fff;
}

.discount-block .coupon-public .coupons .coupon.active
{
    background-color: #2f5acf;
    border: 1px solid #2f5acf;
    color: white;
}

.discount-block .coupon-public .coupons .coupon.active .coupon-description
{
    color: white;
}

.discount-block .coupon-public .coupons .coupon-left
{
    flex: 1;
    border-right: 2px dashed rgba(102, 102, 102, 0.7607843137);
    min-width: 20px;
    max-width: 20px;
    position: relative;
}

.discount-block .coupon-public .coupons .coupon-left:before {
    content: "";
    display: block;
    width: 1.3rem;
    height: 1.3rem;
    background: white;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    position: absolute;
    border-top: 1px solid rgba(36, 36, 36, 0.3);
    border-right: 1px solid rgba(36, 36, 36, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-left: 1px solid rgba(0, 0, 0, 0);
    border-radius: 100em;
}

.discount-block .coupon-public .coupons .coupon-right
{
    flex: 2;
    padding: 0.5rem 1rem 0.5rem 1rem;
    position: relative;
}

.discount-block .coupon-public .coupons .coupon-right .coupon-description
{
    color: #616161;
}


.details {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.details .btn_buy {
    width: 100%; /* Make the button full width on small screens */
}

#btn_buy_now {
  margin-right: 15%;
}

.details .btn_buy {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: #000;
    color: #fff;
    font-weight: bolder;
    transition: 0.3s;
  }
  
  .details .btn_buy:hover {
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 992px) {
    .discount-block .coupon-public .coupons
    {
        flex-direction: column;
        max-height: 120px;
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        padding-bottom: 10px;
    }
    .discount-block .coupon-public .coupons .coupon
    {
        margin-bottom: 20px;
    }
    #btn_buy_now
    {
        margin: auto;
    }
  }