.row.wraper {
  margin: 20px;
}
.color_btn
{
    width: 7%;
    height: 2em;
    background-color: var(--color);
    border: none;
    box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.2);
    box-sizing: content-box;
    border-radius: 1.125rem;
}
.color_btn.active
{
    border: 2px solid #000000;    
}

#myCarousel {
  max-width: 100%;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
}

.carousel-inner {
  height: 100%;
}

.details .row {
  padding: 30px 0px;
}

.details .row.buy {
  display: flex;
  align-items: center;
}

.btn-outline-dark {
  background-color: #000;
  color: #ffffff;
  width: 50%;
  border-radius: 10px;
  border: none !important;
}

.btn-outline-dark:focus {
  border: none;
  box-shadow: none;
}

#message {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

#message.show {
  max-height: 200px; 
}

.product-quantity {
  display: flex;
  justify-content: space-between; /* Add space between quantity input and buttons */
  align-items: center;
  border: 1px solid #73737368;
  margin: 20px;
}

.product-quantity label {
  font-size: 16px;
}

.product-quantity input {
  width: 50px;
  height: 40px;
  text-align: center;
  padding: auto;
  border: none;
  font-weight: bold;
}

.product-quantity .btn-plus,
.product-quantity .btn-minus {
  font-size: 20px;
  padding: 6px 10px;
  background-color: #fff;
  color: #000;
  border: none;
  font-weight: bold;
}

.details .btn_buy {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 20px;
  background-color: #000;
  color: #fff;
  font-weight: bolder;
  transition: 0.3s;
}

.details .btn_buy:hover {
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
}

.rows p {
  font-weight: bold;
  color: #000;
  font-size: 20px;
}

#message {
  font-size: 16px;
  font-weight: lighter;

}

div .price .price_discount
{
    font-weight: bold;
    color: #000;
    font-size: 175%;
}
div .price .price_original {
    text-decoration: line-through;
    font-size: 13px;
    margin-right: 10px;
}

div .price .discount {
    color: rgb(255, 255, 255);
    position: absolute;
    margin-top: 9px;
    margin-left: 9px;
    font-size: 10px;
    font-weight: bold;
    z-index: 2;
}

div .price i {
    color: rgb(255, 0, 0);
    font-size: 40px;
    rotate: -45deg;
}

#feedbackForm {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 90%;
  margin: 5%;
  justify-content: center;
  align-items: center;
  color: #1780a5;
}

#feedbackList {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 5%;
  border: 3px #ccc solid;
}

#feedbackForm {
  margin-right: 20px;
}

#feedbackForm h2,
#feedbackList h2 {
  text-align: center;
  color: #333;
}

#feedbackForm label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

#feedbackForm input,
#feedbackForm select,
#feedbackForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#feedbackForm textarea {
  height: 100px;
}

#feedbackForm button {
  padding: 10px;
  background-color: #1a1c1c;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
}

.rating-product
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

#formFB
{
    width: 70%;
    border: 3px #ccc solid;
    padding: 20px;
}
.user-rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-rating {
  font-size: 50px;
  margin-bottom: 30px;
}

.rate-product {
  font-size: 60px;
}

.star,
.user-star {
  color: #1780a5;
  font-size: 24px;
  cursor: pointer;
}

.star:hover,
.user-star:hover {
  color: #0f5d79;
}

#feedbackList .feedback-item {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

#feedbackList .feedback-item:last-child {
  border-bottom: none;
}

#showAllFeedback {
  background-color: #337ab7;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  margin-top: 10px;
}

#showAllFeedback:hover {
  background-color: #23527c;
}

@media only screen and (max-width: 767px) {

  .row.wraper{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .row.wraper .col-5, .row.wraper .col-7
  {
    max-width: 100%;
  }

  .details .row.buy {
    min-width: 100%;
    justify-content: center;
    align-items: center;
  }

  .rows p {
    font-weight: bold;
    color: #000;
    font-size: 20;
  }

  .product-quantity {
      font-size: 10px
  }

  .details .btn_buy {
      width: 100%; 
  }

  #btn_buy_now {
    margin: auto;
  }
}

@media only screen and (max-width: 992px) {

  .row.wraper{
    width: 100%;
  }
}
